.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 60px;
  row-gap: 8px;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  width: 80%;
  height: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: 2/1/3/13;
}
.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__options {
  width: 19%;
}
.nav__options li {
  display: inline;
  padding-left: 20px;
}
.nav__options a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #111111;
  font-family: "Mulish", sans-serif;
}

.heading {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 4/1/7/5;
}
.heading__1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 3/1/6/5;
  font-style: normal;
  font-size: 35px;
  line-height: 55px;
  font-family: "Mulish", sans-serif;
  color: #111111;
}
.heading__caption {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 6/1/7/5;
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  color: #111111;
  opacity: 0.6;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 200vh;
}