.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 60px;
  row-gap: 8px;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  width: 80%;
  height: 100%;
  background-color: rgb(98, 158, 90);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: 2/1/3/13;
}
.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__options {
  width: 19%;
}
.nav__options li {
  display: inline;
  padding-left: 20px;
}
.nav__options a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #111111;
  font-family: "Mulish", sans-serif;
}

.heading {
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 3/1/7/8;
}
.heading__1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/4/3;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  font-family: "Mulish", sans-serif;
}
.heading__2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 4/1/7/8;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  font-family: "Mulish", sans-serif;
}

.caption {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-area: 6/10/7/12;
}
.caption__underscore {
  opacity: 0.5;
}
.caption__heading {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-area: 6/10/7/12;
  font-family: "Mulish", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 0px;
  opacity: 0.6;
}

.gallery__img12, .gallery__img11, .gallery__img10, .gallery__img9, .gallery__img8, .gallery__img7, .gallery__img6, .gallery__img5, .gallery__img4, .gallery__img3, .gallery__img2, .gallery__img1 {
  height: 100%;
  width: 100%;
}

.gallery {
  -ms-grid-row: 9;
  -ms-grid-row-span: 27;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: 9/1/36/13;
  background-color: bisque;
}
.gallery__img1 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 9/1/15/5;
}
.gallery__img2 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: 9/5/14/9;
}
.gallery__img3 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 8;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 9/9/17/13;
}
.gallery__img4 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 15/1/22/5;
}
.gallery__img5 {
  -ms-grid-row: 14;
  -ms-grid-row-span: 6;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: 14/5/20/9;
}
.gallery__img6 {
  -ms-grid-row: 17;
  -ms-grid-row-span: 6;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 17/9/23/13;
}
.gallery__img7 {
  -ms-grid-row: 22;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 22/1/29/5;
}
.gallery__img8 {
  -ms-grid-row: 20;
  -ms-grid-row-span: 8;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: 20/5/28/9;
}
.gallery__img9 {
  -ms-grid-row: 23;
  -ms-grid-row-span: 8;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 23/9/31/13;
}
.gallery__img10 {
  -ms-grid-row: 29;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 29/1/36/5;
}
.gallery__img11 {
  -ms-grid-row: 28;
  -ms-grid-row-span: 8;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: 28/5/36/9;
}
.gallery__img12 {
  -ms-grid-row: 31;
  -ms-grid-row-span: 5;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 31/9/36/13;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 400vh;
}