.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 60px;
  row-gap: 8px;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  width: 80%;
  height: 100%;
  background-color: rgb(36, 128, 65);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: 2/1/3/13;
}
.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__options {
  width: 19%;
}
.nav__options li {
  display: inline;
  padding-left: 20px;
}
.nav__options a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #111111;
  font-family: "Mulish", sans-serif;
}

.heading {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 4/1/6/6;
}
.heading__h1 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 4/1/6/6;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #111111;
}

.paragraph {
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 6/1/9/8;
}
.paragraph__1 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 6/1/7/8;
}
.paragraph__2 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 7/1/9/8;
}

.paragraph__1, .paragraph__2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-family: "Mulish", sans-serif;
  color: #111111;
  opacity: 0.8;
}

.details {
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 4/9/10/13;
}
.details__project {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 4/9/5/10;
}
.details__design {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 5/9/6/10;
}
.details__client {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 6/9/7/10;
}
.details__deliver {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 7/9/8/10;
}
.details__year {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 8/9/9/10;
}
.details__field {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 9/9/10/10;
}
.details__project_v {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: 4/11/5/13;
}
.details__design_v {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: 5/11/6/13;
}
.details__client_v {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: 6/11/7/13;
}
.details__deliver_v {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: 7/11/8/13;
}
.details__year_v {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: 8/11/9/13;
}
.details__field_v {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: 9/11/10/13;
}

.details__project, .details__design, .details__client, .details__deliver, .details__year, .details__field {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  font-family: "Mulish", sans-serif;
  color: #111111;
  opacity: 0.5;
}

.details__project_v, .details__design_v, .details__client_v, .details__deliver_v, .details__year_v, .details__field_v {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  font-family: "Mulish", sans-serif;
  color: #111111;
}

.project_img {
  -ms-grid-row: 11;
  -ms-grid-row-span: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: 11/1/20/13;
  width: 100%;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 200vh;
}